- var n = [1,2,3,4,5];
    main.main 
        .blog 
            .container 
                .cards 
                    each val,i in n
                        .cards__item 
                            img(src="assets/img/0"+ val+".jpg", alt="", class="cards__img", width="150")
                            p #{val} text
